<!DOCTYPE html>
<html>
	<head>
        {% if username%}
            <h2>{{username}}</h2>
        {% endif %}
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Back to public page</a>
        <div>
            <p>View My Flights</p>
            <form action = '/view_my_flights', method = "POST">
                <input type="radio" name = "choice" value = default required>Showing upcoming flights<br>
			    <input type="radio" name = "choice" value = specify required>Specify some information:<br> <br>

                Please specify your request:<br>
                <input type="checkbox" name = "info" value = name>departure/arrival city/airport<br>
                <input type="text" name = "d_name" placeholder = "departure city/airport"> <br>
                <input type="text" name = "a_name" placeholder = "arrival city/airport"> <br>
                <input type="checkbox" name = "info" value = date>range of date <br>
                <input type="date" name="start" placeholder="start date"><br>
                <input type="date" name="end" placeholder="end date"><br>
                <input type="submit" value = Search>
            </form>
            <br><br>
            {% if flights_rec is not none %}
                {% if flights_rec|length != 0 %}
                    <table>
                        <th>Airline name</th>
                        <th>Flight number</th>
                        <th>Departure airport</th>
                        <th>Departure time</th>
                        <th>Arrival airport</th>
                        <th>Arrival time</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Airplane ID</th>
                    {% for line in flights_rec %}
                        <tr>
                            <td>{{line[0]}}</td>
                            <td>{{line[1]}}</td>
                            <td>{{line[2]}}</td>
                            <td>{{line[3]}}</td>
                            <td>{{line[4]}}</td>
                            <td>{{line[5]}}</td>
                            <td>{{line[6]}}</td>
                            <td>{{line[7]}}</td>
                            <td>{{line[8]}}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    {% for line in flight_rec %}
                        {{line}}
                    {% endfor %}
                {% else %}
                    <b>You have no scheduled flights.</b><br><br>
                {% endif %}
            {% endif %}
        </div>
        <br><br><br>
        <div>
            <a href="/purchase">Search/Purchase Flights</a>
            {% if flights_found is not none %}
				{% if flights_found|length == 0 %}
					<p>no flight found!</p>
				{% else %}
					{% for flight in flights_found %}
						<p>{{flight}}</p>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
        <div>
            <a href="/track_my_spending_c">Track My Spending</a>
        </div>
    </body>
    <a href="/logout">Logout</a>
</html>
