<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Staff Home</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <p>Your airline: {{airline_name}}</p>
        <p>Your username: {{username}}</p>
        <div>
            <a href="/staff_view_my_flights">View my flights</a>
        </div>
        <div>
            <a href="/staff_create_new_flights">Create new flights</a>
        </div>
        <div>
            <a href="/staff_change_flights_status">Change status of flights</a>
        </div>
        <div>
            <a href="/staff_add_airplane">Add airplane in the system</a>
        </div>
        <div>
            <a href="/staff_add_airport">Add new airport in the system</a>
        </div>
        <div>
            <a href="/staff_view_booking_agents">View all the booking agents</a>
        </div>
        <div>
            <a href="/staff_view_frequent_customers">View frequent customers</a>
        </div>
        <div>
            <a href="/staff_view_reports">View reports</a>
        </div>
        <div>
            <a href="/staff_compare_revenue">Comparison of revenue earned</a>
        </div>
        <div>
            <a href="/staff_view_top_destinations">View top destinations</a>
        </div>
        <div>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <a href="/">Public page</a>
        </div>
<!--         <div>
            <a href="/">Go back to public page</a>
        </div> -->
    </body>


</html>
