<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div>
            <a href="/login_c">I'm a Customer</a>
        </div>
        <div>
            <a href="/login_s">I'm an Airine Staff</a>
        </div>
        <div>
            <a href="/login_b">I'm a Booking Agent</a>
        </div>
        <a href="/">Go back to main page</a>
    </body>


</html>
