<!DOCTYPE html>
<html>
	<head>
		<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		</style>
		<meta charset="utf-8">
		<title>Public Page</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		{% if usertype == "customer" %}
			<a href="/customer_page">my home page</a>
		{% elif usertype == "booking agent" %}
			<a href="/booking_agent_page">my home page</a>
		{% elif usertype == "staff" %}
			<a href="/homeS">my home page</a>
		{% else %}
			<a href="/login">login</a>
			<a href="/register">sign up</a>
		{% endif %}
		<div id="1a">
			<p> Search for upcoming flights:</p>
			<form action="/" method="get">
				<label for="src">source</label>
				<select name="stype" value="{{stype}}">
					<option value="city">city</option>
					<option value="airport">airport</option>
				</select>
				<label for="src">name:</label>
				<input type="text" id="src" name="src" value="{{src}}" required/>
				<br>
				<label for="dst">destination</label>
				<select name="dtype" value="{{dtype}}">
					<option value="city">city</option>
					<option value="airport">airport</option>
				</select>
				<label for="dst">name:</label>
				<input type="text" id="dst" name="dst" value="{{dst}}" required/>
				<br>
				<label for="date_search">date:</label>
				<input type="date" id="date_search" name="date_search" value="{{date_search}}" required>
				<br>
				<input type="submit" value="search" />
			</form>
			<!-- <p>{{flights}}</p> -->
			{% if flights is not none %}
				{% if flights|length == 0 %}
					<p>no flight found!</p>
				{% else %}
					<table>
						<th>Airline name</th>
						<th>Flight number</th>
						<th>Departure airport</th>
						<th>Departure time</th>
						<th>Arrival airport</th>
						<th>Arrival time</th>
						<th>Price</th>
						<th>Status</th>
						<th>Airplane ID</th>
					{% for line in flights %}
						<tr>
							<td>{{line[0]}}</td>
							<td>{{line[1]}}</td>
							<td>{{line[2]}}</td>
							<td>{{line[3]}}</td>
							<td>{{line[4]}}</td>
							<td>{{line[5]}}</td>
							<td>{{line[6]}}</td>
							<td>{{line[7]}}</td>
							<td>{{line[8]}}</td>
						</tr>
					{% endfor %}
					</table>
				{% endif %}
			{% endif %}
		</div>
		<div id="1b">
			<p>Check flight status:</p>
			<form action="/" method="get">
				<label for="flight_num">flight number:</label>
				<input type="text" id="flight_num" name="flight_num" value="{{flight_num}}" required>
				<br>
				<select name="datetype" value="{{datetype}}">
					<option value="departure">departure</option>
					<option value="arrival">arrival</option>
				</select>
				<label for="date_check">date:</label>
				<input type="date" id="date_check" name="date_check" value="{{date_check}}" required>
				<br>
				<input type="submit" value="check status" />
			</form>
			<!-- <p>{{statuses}}</p> -->
			{% if statuses is not none %}
				{% if statuses|length == 0 %}
					<p>no status found!</p>
				{% else %}
					{% for status in statuses %}
						<p>{{status}}</p>
					{% endfor %}
				{% endif %}
			{% endif %}
		</div>


	</body>
</html>
