<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Staff Register</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <h2>Register as an Airline Staff</h2>
        <form action="/registerAuthS" method="POST">
            <p>Please enter your username</p>
            <input type="text" name = "username" placeholder="username" required/> </br>
            <p>Please set your password</p>
            <input type="password" name = "password" placeholder="Password" id="password" required/>
            <input type="checkbox" onclick="myFunction()">
            </br>
            <p>Please enter your information below</p>
            <input type="text" name = "first_name" placeholder="first_name" required/></br>
            <input type="text" name = "last_name" placeholder="last_name" required/></br>
            <p>Your birth date</p>
            <input type="date" id="date_of_birth" name="date_of_birth" required></br>
            <p>Please enter your airline name</p>
            <input type="text" name = "airline_name" placeholder="airline_name" required/></br>
            <input type="submit" value = Register />
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
        </form>
        <a href="/">Back to public page</a>
        <script type="text/javascript">
            function myFunction() {
              var x = document.getElementById("password");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
        </script>
    </body>
</html>

