<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Customer Register</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <h2>Register as a Customer</h2>
        <form action="/registerAuthC" method="POST">
            <p>Please enter your email address</p>
            <input type="email" name = "email" placeholder="email" required/> </br>
            <p>Please enter your username</p>
        	<input type="text" name = "username" placeholder="username" required/> </br>
            <p>Please set your password</p>
        	<input type="password" name = "password" placeholder="password" required/></br>
            <p>Please enter your information below</p>
            <input type="number" name = "building_number" placeholder="building_number" required/> </br>
            <input type="text" name = "street" placeholder="street" required/> </br>
            <input type="text" name = "city" placeholder="city" required/> </br>
            <input type="text" name = "state" placeholder="state" required/> </br>
            <input type="tel" name = "phone_number" placeholder="phone_number" required/> </br>
            <input type="text" name = "passport_number" placeholder="passport_number" required/> </br>
            <p>Please enter your passport expiration date</p>
            <input type="date" name = "passport_expiration" placeholder="passport_expiration" required/> </br>
            <input type="text" name = "passport_country" placeholder="passport_country" required/> </br>
            <p>Please tell us your your Birth date</p>
            <input type="date" name = "date_of_birth" placeholder="date_of_birth" required/> </br>
        	<input type="submit" value = Register />
        	{% if error %}
        		<p class="error"><strong>Error:</strong> {{error}}</p>
        	{% endif %}
        </form>
        <a href="/">Back to public page</a>
    </body>
</html>
