<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Booking Agent Register</title>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <h2>Register as a Booking Agent</h2>
        <form action="/registerAuthB" method="POST">
            <p>Please enter your email address</p>
            <input type="email" name = "email" placeholder="email" required/> </br>
            <p>Please set your Password</p>
            <input type="password" name = "password" placeholder="Password" id="password" required/>
            <input type="checkbox" onclick="myFunction()">
            </br>
            <p>Please enter your Booking Agent ID</p>
            <input type="text" name = "booking_agent_id" placeholder="booking_agent_id" required/> </br>
            <div class="g-recaptcha" data-sitekey="6LcI1MwaAAAAADy2XuEdPDbmQaUGRwPKUmMWi7rt"></div><br>
            <input type="submit" value = Register />
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
        </form>
        <a href="/">Back to public page</a>
        <script type="text/javascript">
            function myFunction() {
              var x = document.getElementById("password");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
        </script>
    </body>
</html>

