<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Signup</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div>
            <p>{{error}}</p>
        </div>
        <div>
            <a href="/register_c">I'm a Customer</a>
        </div>
        <div>
            <a href="/register_s">I'm an Airine Staff</a>
        </div>
        <div>
            <a href="/register_b">I'm a Booking Agent</a>
        </div>
        <a href="/">Back to public page</a>
    </body>
</html>
