<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
  		<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
        <h2>Your spendings for previous years/months</h2>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
	<body>
        <div>
            <a href="/customer_page">Go back</a>
        </div>
        <div>
            <form action="/spending_c" method = "POST">
                <input type="radio" name = "choice" value = default required> Last Year's Spending <br>
			    <input type="radio" name = "choice" value = specify required> Specify a range of date <br>
                <input type="date" name = "start"> start date <br>
			    <input type="date" name = "end"> end date <br>
			    <input type="submit" value = View> <br>
            </form>
            <br><br>
        </div>
        <b> Your Spending</b>{{spending}}<br><br>


		<table id = "datatable">
			<thead>
				<th>Month</th>
				<th>Spending</th>
			</thead>
			<tbody>
				{% for line in spent %}
				<tr>
					<td>{{line[1]}}</td>
					<td>{{line[0]}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div>
			<canvas id="chart" width="600" height="400"></canvas>
				<script>
					// bar chart data
					var barData = {
						labels: [
						{% for item in label %}
						"{{ item }}",
						{% endfor %}
						],

						datasets : [{
						fillColor: "rgba(151,187,205,0.2)",
						strokeColor: "rgba(151,187,205,1)",
						pointColor: "rgba(151,187,205,1)",
						data : [
							{% for item in value %}
							"{{ item }}",
							{% endfor %}
						]
						}
						]
					}

					// get bar chart canvas
					var mychart = document.getElementById("chart").getContext("2d");

						steps = 10
						max = {{maxi}}

					// draw bar chart
						new Chart(mychart).Bar(barData, {
						scaleOverride: true,
						scaleSteps: steps,
						scaleStepWidth: Math.ceil(max / steps),
						scaleStartValue: 0,
						scaleShowVerticalLines: true,
						scaleShowGridLines : true,
						barShowStroke : true,
						scaleShowLabels: true
					}
				);

				</script>
		  </div>
    </body>
</html>



